// Variables
$primary-color: #da4be7;
$hover-color: #3cff00;
$white-color: #f3f3f3;


// navigation bar
nav{
    background-color: $primary-color!important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;

    ul li{
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;

        &:hover{
            background-color: $hover-color;
        }
    }
}

